

<%= form_with(model: playlist) do |form| %>
  <% if playlist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
        <% playlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid">

<div class="row">
<div class="col-3"></div>
<div class="col-6">
  <div class="form">
    <%= form.label :song, style: "display: block" %>
    <input class="form-control form-control-lg" type="text" placeholder="Donner son..." aria-label="<%= form.text_field :song %>
  </div>

  <div class="form">
  
    <%= form.label :name, style: "display: block" %>
    <input class="form-control form-control-lg" type="text" placeholder="Ecrire nom..." aria-label="<%= form.text_field :name %>
    
  </div>

  <div class="form">

<%= form.label :image, style: "display: block" %>
    <input class="form-control form-control-lg" type="text" placeholder="Url de l'image..." aria-label="<%= form.text_field :image %>
  </div>
<div>
  <div class="form">    
  <button class="btn btn-primary mb-3" type="<%= form.submit %>Creat Playlist</button>
  </div>
<% end %>
</div>
<div class="col-3"></div>



</div>
</div>
