<p style="color: green"><%= notice %></p>

<%= render @playlist %>

<div>
  <%= link_to "Edit this playlist", edit_playlist_path(@playlist) %> |
  <button class="btn btn-success"><%= link_to "Back to playlists", playlists_path %></button>

  <%= button_to "Destroy this playlist", @playlist, method: :delete %>
</div>
